[2014-12-08 19:40] csjx opened #1 "Update the ProvONE ontology and documentation"
Modify the ProvONE OWL Ontology to match the changes we've made while modifying the ProvONE UML diagram.  Also update the HTML documentation with new class names, property names, and their definitions.

[2014-12-18 00:10] #1 closed, assigned to csjx

[2017-07-01 00:07] mobb opened #2 "drop PracticalSalinityUnit class from OBOE"

[2017-07-01 00:10] mobb opened #3 "add a PracticalSalinityUnit class to ECSO measurementType"
child of UO_dimensionless.
label, skos:prefLabel, definition, def_source, def_contributor (orcid), date

[2017-07-01 00:19] mobb opened #4 "ECSO object properties suggested, need review"
isBelow, isAbove
(eg, plantMaterial isAbove ground)

[2017-07-01 00:31] mobb opened #5 "migrate issues from trello"

[2017-07-01 00:38] mobb commented on #4
participatesIn
chlorophyll participatesIn ecosystem-wide-photosynthesis

[2017-07-01 00:40] mobb opened #6 "review mireot imports"
1. eg, we have ecosystem-wide photosynthesis from ENVO, but no organism photosynthesis (in a different tree).
2. ENVO has new classes

[2017-07-01 00:44] mbjones commented on #2
@mobb Tickets about OBOE changes should go in the OBOE issues list: https://github.com/NCEAS/oboe/issues

[2017-07-03 16:50] mobb commented on #2
see https://github.com/NCEAS/oboe/issues/10

[2017-07-03 16:51] mobb commented on #3
depends on https://github.com/NCEAS/oboe/issues/10

[2017-07-03 16:51] #2 closed

[2017-07-03 18:12] mobb opened #7 "examine list of synonyms provided by RPI group"
Jim McCusker queried dbpedia using our list of class labels, to build a list of candidate synonyms. Review the the list, add appropriate terms.

See master/observation/resources/d1-ECSO-altlabels_jmccusker_dbpedia.csv

[2017-07-03 18:35] mobb opened #8 "add a protocol for 'experiment'"
some measurements are taken under experimental (or manipulated) conditions.  as an annotation, it's probably more likely to be applied at the dataset (or entity) level, rather than part of a measurement.  one of our P/R test queries is about measurements taken under experimental conditions (Q7)

[2017-07-03 18:50] mobb opened #9 "mechanism for measurementTypes that are combinations of other measurementTypes"
eg, ratios like slope and P-max (photosynthetic rate / irradiance), specific rates (uptake rate / biomass ), many radiometric measurements.

[2017-07-04 17:26] mobb opened #10 "confirm that c14 is an appropriate NPP protocol for macroalgae, or remove it"
see ECSO_00000542, 'Marine Macroalgae Net Primary Production Carbon Flux'
c14 is typically used for unicellular NPP. some macroalgae might use it, though (or nearly macro, like filamentous)

[2017-07-04 17:29] mobb opened #11 "NEE uses protocol eddy covariance"
add protocol to NEE, ECSO_00000014,
eddy covariance, ECSO_00000091

[2017-07-04 17:48] mobb commented on #6
last fall, we had problems getting the PATO import to fully load in Protege, eg, that not all children of 'physical object quality' were visible. Today, I see 15 - is that what we expect?

[2017-07-04 17:51] mobb opened #12 "review/incorporate autogenerated classes - measurementType, entity, characteristic"
from AHM notes:
CO2 (carbon) concentration in air
methane flux
c13 (entity)
2777
2932
3030
3031
3037 (altLabel 'phaephytin"
3195, 3196 CaCO3 concentration (already have CO3)
Ammonium
Nitrate

possibly other CHEBI chemicals (entities) that are not directly involved in NPP, but closely related

Other missing measurementType classes
alkalinity

[2017-07-04 18:04] mobb commented on #4
From AHM notes:
Object properties -
we still do not have a completely useable set. We have objectProps imported from PATO, ENVO (and BFO) which sometimes do not work well. Sara has examples. Proposed for removal is based on usage (or non-usage)

proposed for removal |  ontology |  suggested replacement | ontology
--------------------- |---------- | ------------------------ | ---------
has input |

[2017-07-04 18:17] mobb opened #13 "Group lists of units"
we have some groups of units already, eg, 'concentration units', 'rate units'. To better match units with characteristics, we need groupings by dimension (eg, combinations of prefixes and base units). But we have not found a units ontology to import that does this.

till then, Jim recommended
	Accumulate a list of units
	Resolve namespaces
	Set equivalents to other ontologies.

[2017-07-04 18:18] mobb opened #14 "consider making Units instances, not classes"
from discussion at AHM:

Usage: in ECSO, e.g., in odo:Heterotrophic_Respiration_Carbon_Flux_MOV, instead of asserting
measuresUsing Standard only kilogramPerMeterSquaredPerSec

Say this:
measuresUsing value kilogramPerMeterSquaredPerSec
Because the MT already has oboe-core:measuresUsingStandard only 'odo:flux unit'
The unit kilogramPerMeterSquaredPerSec is an instance of the class ‘odo:flux unit’

[2017-07-04 18:21] mobb commented on #9
Recommendation from Jim: do not use numerator/denominator, instead suggests part_of? Or in_relation_to?

Proposed:

col1 | col2 | col3
---- | ---- | ----
Mixtures |  obo:part_of | carbon obo:part_of phytoplankton, nitrogen part_of water
Spatial containment | |
spatial-Temporal containment | |
Other, No physical relationship | sio:in_relation_to |

[2017-07-04 18:26] mobb commented on #4
SIO might have good objProps for spatial, spatial-temporal containment.
The above will also need inverse, eg,  location_of,

[2017-07-04 18:27] mobb commented on #9
also see issue #4

[2017-07-04 18:34] mobb opened #15 "Create both scientific and technical Labels"
From the AHM notes:
Most labels in ECSO are for ontology designers, not scientists. We need a labelling strategy that accomodates both. Margaret and Sara used the rdf:label for the technical label, assuming that interfaces could use the skos:prefLabel.  But standard practice is that rdf:label contains the main display label, which should be scientific, not the ‘technical label’

**We will use ‘sko

[2017-07-04 18:37] mobb opened #16 "create issues for use-case-related topics in the design repsository"
in AHM notes, p7: https://docs.google.com/document/d/1uVQWpAaRfkdi8tWA0ePMQC_Fvgjg9xEoCKKrP7Rw24A/edit

section titled Below is a matrix of the mini-use cases MMS would like to see, for both tagging and search

[2017-07-04 18:42] mobb commented on #7
also, abbreviations also have full strings, and reverse, eg TOC, POC, chemical formulae

[2017-07-04 18:57] mobb commented on #8
done.

[2017-07-04 18:57] #8 closed

[2017-07-05 23:07] mobb commented on #6
Here is the original problem we had with pato imports. probably it;s something wrong on our end.
https://github.com/OBOFoundry/purl.obolibrary.org/issues/236

[2017-07-06 14:11] Olson87 commented on #11
These already have objectProperty 'measuresUsingProtocol', should it be changed to 'usesProtocol' ?

[2017-07-06 15:27] mobb commented on #11
I missed that. lets leave as is for now. That object property is probably in OBOE, so we won't change it.

[2017-07-06 15:27] #11 closed

[2017-07-06 15:44] brunj7 opened #17 "Test ECSO import on a "fresh" protege install"
Follow this protocol: https://docs.google.com/document/d/14Zx0D5kSm3rJsANSd8ievKO_sIJQ2Ga4wRfBtIGHl68/edit

[2017-07-06 17:26] Olson87 commented on #6
In order to trouble shoot this I decided to work on the ECSO-dl.owl from the main branch not the aRctic one. Currently, it seems that I have no import errors for external ontologies. However I initially had to directly import the PATO_import.owl, UO_import.owl, and ENVO_import.owl files after loading the ECSO-dl.owl from the sem-prov-ontologies github folder. As for PATO specifically within ECSO t

[2017-07-06 17:50] Olson87 commented on #6
Ontology Imports in ECSO versus Import Files:
PATO_import.owl class count  #1610  in ECSO-dl.owl #1641
ENVO_import.owl class count #1812 in ECSO-dl.owl # 1814
UO_import.owl class count #141 in ECSO-dl.owl # 153
Oboe.owl class count # 292 in ECSO-dl.owl # 326 (from indirect imports?)
skos-owl1-dl count #4 in ECSO-dl.owl # 4

[2017-07-07 15:49] mobb opened #18 "carbonyl sulfide, potential tracer for ecosystem-level photosynthesis"
this is a chemical we may want to consider adding, as a tracer for ecosystem-level photosynthesis. I don't recall seeing it in any datasets yet, though.

from the below EOS article:
"atmospheric scientists, biogeochemists, and oceanographers have proposed measuring a gas called carbonyl sulfide (COS or OCS) to help quantify the contribution that photosynthesis makes to carbon uptake. COS is simila

[2017-07-09 00:17] mobb commented on #12
added back measurements, entities and characteristics. used the autogenerated ids, so that annotations don't change.

[2017-07-09 00:17] #12 closed

[2017-07-09 00:18] mobb opened #19 "every named measurement has an entity and characteristic"

[2017-07-09 00:19] mobb commented on #7
confirm which annotation field we are using for synonyms. appears to be has_Exact_Synonym

[2017-07-11 16:27] mobb opened #20 "consider classes for alkalinity components in seawater"
found these in the autogenerated classes - they go with some ocean acidification datasets (sbclter).
These are rather arcane for general use, but are more examples of measurementtypes that are for multiple entities. the other chemical compounds would have to be added as entities, too (boron, hydroxide, phosphorus, silicate)

[2017-07-11 17:05] mobb opened #21 "ECSO_00001217 Tag Number"
class had included axiom "measuresUsingStandard only 'count unit' ".
but this is wrong, and will be removed. but it should have a proper standard.

tag number is a type of name, not a quantity. Is the standard for type of name "CagetoricalStandard"? OBOE documentation is not clear.

[2017-07-11 17:08] mobb commented on #21
same axiom was applied to class ECSO_00001193 "Name"

[2017-07-11 21:19] mobb opened #22 "ECSO_00001108, Ash Weight Biomass"
currently, this class is a child of biomass_measurementType. this might be a problem. There are several related biomass measures. the general protocol is below, run sequentially on the same sample:

wet weight biomass: weigh the sample, fresh
dry weight biomass: dry at a prescribed temperature to drive off water (eg, 100 C)
ash weight biomass: dry at a hotter temperature to drive off organic mater

[2017-07-11 21:47] mobb opened #23 "compare ECSO_0003031 and ECSO_00000531 (soil organic_content, Total soil carbon)"
ECSO_0003031 soil organic_content:
total amount of organic material, generally grams. eg, AFDW of soil.

ECSO_00000531 Total soil carbon:
total amount of carbon, as grams.

so not quite the same, but really similar. but definitions are rather different,
531: measuresEntity some ('Organic Carbon' and (part_of only soil))
3031: measuresEntity some soil, measuresCharacteristic some organic_content
bo

[2017-07-11 22:48] mobb opened #24 "Litter classes: ECSO 0502, 1172"
1172: Litter biomass
0502: Litter carbon concentration

like the soil carbon, these classes need to be modeled similarly, but the differences clear.
re-examine them, and maybe a couple more

[2017-07-11 23:07] mobb commented on #23
also agrees with 0576 Soil Carbon Concentration:
measuresEntity only ('carbon atom' and (part_of some soil))

[2017-07-11 23:16] mobb opened #25 "pigment concentrations ECSO_00000518"
these were put off.
measures entity [pigment name] part of [??]
probably 'some environmental material' but hunt around to see if there is a class that matches better, eg, some 'photosynthetic environmental material', but can't be simplified to plant.

[2017-07-12 00:00] mobb opened #26 "ECSO needs a concept for a 'sample'"
there is a measurement labeled "Sample Count" (ECSO_00001188) that needs an entity.
not sure where it should go yet.

[2017-07-12 00:08] mobb opened #27 "Dissolved Organic Carbon Flux and Dissolution Carbon Flux"
seem very similar. why 2.
ECSO 0320 is broader term.
ECSO 0012 is an early ID, and might be vestigial. but it is the DOC flux, so would be the child of 320

[2017-07-12 00:17] mobb opened #28 "ENVO import should have two planetary surfaces (land, liquid)"
Maybe it does, and label is just not showing. confirm.
http://www.ontobee.org/ontology/ENVO?iri=http://purl.obolibrary.org/obo/ENVO_01000324

[2017-07-12 00:18] mobb commented on #28
ECSO has an entity ocean_surface, which might then be redundant.

[2017-07-12 00:26] mobb commented on #28
Confirmed, neither ENVO_01000635 or ENVO_0100636 (land sfc, liquid sfc) are there. but planetary sfc (
These are present:
http://purl.obolibrary.org/obo/ENVO_01000324 (planetary layer)
and  http://purl.obolibrary.org/obo/ENVO_01000325 (aquatic layer, with many many children)
and lots of other layers.

[2017-07-12 00:36] mobb opened #29 "ECSO 0037 (ANPP) is a annual flux, so the time interval has to be 'year'"
don't know where to constrain that.

[2017-07-12 16:44] mobb commented on #29
since 'year' is implied, often the units (std) are simply areal biomass (no time interval). If this is going to stay in a flux group (parent node is Primary production carbon flux) - where conceptually, it belongs - then that's an argument for not constraining the parent node to a unit that includes time.

[2017-07-12 17:19] mobb opened #30 "review use of skos object prop 'determined by'"
review these, or replace with another object property. in measurementTypes, they are probably used wrong.
definition of the property says that
s determined by f if and only if s is a type of system, and f is a material entity that is part of s, such that f exerts a strong causal influence

so both are entities, eg, you could probably say phytoplankton 'determined by' microalgae
or
soil active laye

[2017-07-12 17:20] mobb commented on #30
related to #4

[2017-07-13 19:17] mobb opened #31 "object prop for organic_material, carbon"
remove 'derived from',
replace with 'determined by'

'derived from' is RO_0001000, but used incorrectly here.
related to issue #30

[2017-07-13 22:20] mobb commented on #15
added 106 to master d1-ECSO with this commit.
https://github.com/DataONEorg/sem-prov-ontologies/commit/301a24c00cca41519f8e26127319000f8c9775cd

Did not add hiddenLabels yet for imported classes, only for ECSO classes. Estimate about half done.
Note: merge was manual. see commit comment for more info.

[2017-07-13 22:44] mobb commented on #28
Possibly, the number of levels was set too low when this import was created.

But Elizabeth is creating a new ENVO export for the ArcticECSO branch. when that is done, we will review differences and merge into master.

[2017-07-13 22:50] #31 closed

[2017-07-13 23:02] mobb commented on #23
Also note that we also said (elsewhere) that organic_material 'determined by' some 'carbon atom'.
so now, there can be 2 connections made between 3031, 0531 and 0576, thru 'carbon atom' and 'soil'.  They differ in their unit - 3031 and 0531 are mass, 576 is a proportion or concentration.

[2017-07-13 23:21] mobb commented on #30
has_part could be a good substitute, eg organic_material has_part some carbon
and it has an inverse, so carbon part_of organic material

[2017-07-17 17:27] mobb opened #32 "maintain consistent use of entities"
In ECSO 1197 (plant cover percentage)
measuresEntity some (plant and (part_of some 'surface layer'))

ECSO 1191 (crown cover percentage)
measuresEntity some 'plant-derived organic material' and part_of some 'vegetated area'

1191 could be a child of 1197, but need consistent definitions first. there are other examples.

[2017-07-17 17:31] mobb opened #33 "ECSO 1134 - Soil carbon change percentage"
from definition, is not clear what this is. maybe a delta between two times? hunt down the dataset that used it.

[2017-07-17 17:33] mobb commented on #32
another pair to examine: Soil Moisture Percentage (ECSO 0517) and Total_soil_Wetness_MOV (ECSO 0045)

[2017-07-17 17:35] mobb commented on #33
Same is true of 'vegetation carbon change percentage' (ECSO 1133)

[2017-07-17 17:47] mobb opened #34 "entity for a temporal (duration)"
some Process?
would help to look up this dataset. ECSO 1167, 1183

[2017-07-17 18:12] mobb commented on #19
got through the whole list. but several inconsistencies noted, and new issues created.

[2017-07-17 18:12] #19 closed

[2017-07-18 00:39] mobb opened #35 "clean up new ENVO import"
New mireot export for ENVO has lots of bare classes. these come from the includeAllIntermediates directive.  But if we leave this out (ie, includeNoIntermediates), we lose lots of axioms, and the classes they reference. So might be better to gather up those unclassified classes. could be similar to what  foodon did.

At first, I think we should treat them all the same (not prune selectively). Some

[2017-07-18 17:11] mobb opened #36 "add the ontofox_input.txt files to repo, for ENVO, PATO, UO"
Imports are created using the ontofox service. but we do not have a good method for keeping track of the settings.
the service can be run from the command line (curl), if the inputs are kept in a text file instead of being set ad hoc via the web interface.

[2017-07-18 17:11] mobb commented on #35
Step 0 done. see issue #36

[2017-07-18 17:20] mobb commented on #35
new process:
1. duplicate eolson's ENVO import (ie, w/o CHEBI)
2. commit ontofox file for ENVO
3. gather classes for foodon, go, ncbitaxon, pco, po, uberon ontologies (tbd: in ECSO or in import file?)

[2017-07-18 17:23] mobb commented on #36
eg, curl -s -F file=@"ontofox_input4.txt" -o ontofox_out4.owl http://ontofox.hegroup.org/service.php

[2017-07-18 17:31] mobb commented on #6
It looks like the display problems in protege were solved by setting the languate rendering preferences to this string: "en, !" per the protege wiki https://protegewiki.stanford.edu/wiki/Protege4NamingAndRendering

generated these new issues: #35, #36

[2017-07-18 17:31] #6 closed

[2017-07-18 17:37] mobb commented on #4
Our priorities should be obProps that are conceptually accurate, follow the intent of their creators, and (not necessarily in this order)
a. allow searching across measurementTypes based on the entities involved. It may be just these: measFor, participates_in, part_of
b. relates measurementTypes to processes
c. help describe measurementTypes that are combinations of other measurementTypes

[2017-07-19 18:55] #28 closed

[2017-07-19 18:56] Olson87 commented on #15
Hidden labels created in d1-ECSO.owl need to be merged with master

[2017-08-31 23:16] mobb opened #37 "send or link the unit registry material to Mark."
unit.lternet.edu
and the resources

[2018-01-03 19:36] mobb opened #38 "add a measurement class for NCP - net community production"
new measurement to add. used in oceanography mainly for aquatic microbial communities. It is conceptually equivalent to NEP. method (perhaps one of many) is oxygen:argon (many details needed). A PAL LTER dataset has this measurement: ID TBD

[2019-02-02 06:43] amoeba opened #39 "Fix RDF validation errors"
Hey @stevenchong 	I mentioned some of these on Slack but here's the full output I get from the Java library we use across DataONE to process RDF. I get these when trying to load `ECSO8.owl` from the latest GitHub version on the branch you're working on:

[code]

Do you think you have time to work through these as you work on other things? They look like pretty uncontroversial fixes.

[2019-02-04 07:54] stevenchong commented on #39
Sure thing @amoeba .  Thanks for posting the warnings.

[2019-02-05 01:18] stevenchong commented on #39
@amoeba Just updated `ECSO8.owl` and think I addressed all of the validation warnings.  Let me know if I missed any.

[2019-02-05 01:39] amoeba commented on #39
Looks like you did. Thanks a bunch!

[2019-02-05 01:39] #39 closed

[2019-09-17 19:29] stevenchong opened #40 "reorganize density terms"
It's not clear what the difference is between `mass_density_MeasurementType` (ECSO:00001198) and `volumentric_density_MeasurementType` (ECSO:00001199) because they both have the same definition.

[2019-09-19 23:28] stevenchong commented on #40
@mobb and I were discussing this. We found that count density (ECSO:00001160) has a definition for number density, and also a `skos:altLabel` for number density. This seems to conflict with the wikipedia definition: https://en.wikipedia.org/wiki/Number_density

[2019-09-20 20:46] mpsaloha commented on #40
Hi--

some folks would say that ALL densities are volumetric-- i.e. density is
defined as the "*amount* of something *per volume*" (where some PHYS/CHEM
folks would even argue that the "amount" must be restricted to a "mass").
However, measures of (and use of the term) "density" to refer to "areal
density"-- are common, e.g.  200kg of wheat per hectare, or speaking about
"population density", etc.

[2019-09-20 21:11] mobb commented on #40
IMO, we want to avoid the situation where someone browsing a tree finds all the different connotations of "density" together. That's the problem we have now (and also with units in EML), and the measurement nuances get conflated by the small set of dimensions that are tied to a few specific terms.

this definition says all number_densities are spatial (but might be volumetric, areal, linear)

[2019-09-20 21:16] mobb commented on #40
Also,  I disagree that they are all "volumetric", I think they are all "spatial"

[2019-10-04 04:32] stevenchong opened #41 "ECSO release"
We can use this issue to keep track of the steps needed to proceed towards the upcoming ECSO release. I'm assuming we shouldn't do any major edits until after the first release, so I'll keep track of any needed future changes as Github issues.

[2019-10-04 04:45] stevenchong opened #42 "fix ECSO URIs"
[ECSO:00000324](http://purl.dataone.org/odo/ECSO_00000324) and [ECSO:00000327](http://purl.dataone.org/odo/ECSO_00000327) don't have any information associated with them, not even labels. I say these URIs should be deprecated.

There's also a handful of URIs that don't fit the standard ECSO URI naming pattern (http://purl.dataone.org/odo/ECSO_00000001):

http://purl.dataone.org/odo/ECSO_#KilogramP

[2019-10-04 05:30] stevenchong opened #43 "fix altLabels and synonyms for aquatic POC, aquatic TOC, aquatic DOC, freshwater/oceanic TIC"
[Aquatic particulate organic carbon](http://purl.dataone.org/odo/ECSO_00000578) has the skos:altLabel (and exact synonym) `POC`. This is too broad and really it should be aquatic POC ( and probably 'POC in water' should be added ) -- there is such a thing as atmospheric POC.

Same situation for [Aquatic total organic carbon concentration](http://purl.dataone.org/odo/ECSO_00001118), with 'TOC' as a

[2019-10-10 01:36] amoeba commented on #41
Hey @stevenchong, what kind of release are we thinking of targeting? ECSO release management has been pretty ad-hoc so far, it appears. Informally, ECSO is currently at 0.9, though that's not exactly codified anywhere. If this release is iterative, we could do a 0.10.

Or do you know if the goal is to get to a 1.0 (first) release state with this effort?

[2019-10-10 01:40] amoeba commented on #41
Added a few items as a checklist to the OP.

[2019-10-10 01:44] amoeba commented on #42
Sounds good. What's the most common pattern for term deprecation in ontologies? Since we haven't hit 1.0 on this ontology, maybe we don't need to be as careful about this and maybe we can just remove them and act like they were never minted. Should talk to @mpsaloha (when he's back in) and @mobb.

[2019-10-10 01:46] mbjones commented on #41
What version of ECSO are we using for the already production semantics release?  I assume that was well-versioned?  It seems to be 0.9 (http://bioportal.bioontology.org/ontologies/ECSO/?p=summary) but it also looks like there are different versions on bioportal all with the 0.9 label version number.  Whatever we decide to do, I'd like to be sure that each release version has one and only one defin

[2019-10-10 01:47] mbjones commented on #42
I would argue that once a URI is minted, it should never go away, but could be marked as deprecated so that people know not to use it, and what URI to use in its stead.

[2019-10-10 01:55] amoeba commented on #41
Yeah, it's "0.9". BioPortal handles releases a little wonky so there are unintended duplicates there. 0.9 wasn't released in the proper way since we couldn't get things merged to master in time (and we're still working on that).

Me too. This will fall out of the above process.

[2019-10-10 02:02] amoeba commented on #42
After some Googling, it looks like an annotation property is a common and recommended pattern to deprecate a term. https://www.w3.org/TR/owl2-syntax/ makes it look like you'd use an annotation property of `owl:deprecated "true"^^xsd:boolean .` Another option I see is to move the term within the class hierarchy under a "Deprecated Terms" class which is annotated accordingly and would act like a ter

[2019-10-10 07:28] stevenchong commented on #41
Good question. I know there are some term reorganization and label issues that we would like to resolve. A 1.0 release will require a thorough review of ECSO by @mpsaloha , which probably won't happen for a while. I think minor improvement updates are okay until that happens. Eventually we will want to add more relationships (axioms) to terms, which seems like a significant update to me.

[2019-10-10 19:51] amoeba commented on #41
Sounds like a 0.10 is in order. Thanks @stevenchong. What do you think about making our next semantics call a time to talk over checklist item 2 (triage)?

[2019-10-10 20:09] stevenchong commented on #41
Sounds good to me

[2019-10-10 21:57] amoeba commented on #42
Thanks @mbjones and @stevenchong. Re: @mbjones 's last, I think I also wouldn't want us to change any semantics by changing class relationships for deprecated terms if we can avoid it. That's different than what the Gene ontology suggests there.

For an example to see what this would like like, if we want to deprecate `http://purl.dataone.org/odo/ECSO_#PAR` (above) in favor of a term with that fol

[2019-10-12 00:10] stevenchong commented on #42
@amoeba, in your example would the deprecated version of PAR still show up as a suggestion in a user's search? If it does, is there a way to display that a term has been obsoleted in the Bioportal widget?

Some ontologies (like ENVO), add the word "obsolete" to the beginning of a deprecated term's label: http://www.ontobee.org/ontology/ENVO?iri=http://purl.obolibrary.org/obo/ENVO_00000095 .

It lo

[2019-10-12 00:56] amoeba commented on #42
We have control over this, though it defaults to _not_ including obsolete terms. So I think we're good here. I don't love the idea of encoding the semantics of deprecation in the label.

[2019-11-04 20:53] mobb commented on #42
Post discussion with @mpsaloha and @stevenchong , the process that makes most sense is:
1. add `owl:deprecated` `TRUE`
2. add IAO annotation property `term replaced by` `NEW_TERM_ID`

[2019-11-04 23:40] amoeba commented on #42
That sounds great. Thanks for adding the note here, @mobb. I'll update the docs so it's written down for later.

[2019-11-05 15:44] mobb commented on #42
@amoeba - thanks. what doc are you updating? THBOMK, we have only a google doc of "ECSO practices" in the ADC drive. I tagged myself as the one to update that. Part of that would be If you have a markdown version already, I didn't find it. If you want to take that on, great.

[2019-11-05 23:02] amoeba commented on #42
I updated `observation/README.md`, see https://github.com/DataONEorg/sem-prov-ontologies/commit/e9b7fedf0b1f222d24d04251c88e6e37c1b402cc. It'd be great to migrate info out of Drive since it effectively doesn't exist if it's in there. I can migrate stuff out if you share it with me.

[2020-02-29 00:50] gastil opened #45 "add measurement type: nitrogen concentration in algal turf or algae"
In this dataset: knb-lter-mcr.20 for example, doi:10.6073/pasta/59244d3280854f513fbb07a749c9b6d1
the dried algae sample analysis is reported as C%, H%, N% and C/N Ratio.
I looked in ECSO under
nitrogen concentration http://purl.dataone.org/odo/ECSO_00001883
but did not find the exact term appropriate for "weight percent of nitrogen in the sample".
The "sample" is of turf algae grown on a tile then

[2020-02-29 01:15] amoeba commented on #45
Thanks @gastil for filing. I think we'd like to continue to expand ECSO in exactly this way but I wanna coordinate with the team here to on how and who will integrate. I'll check back next week and we'll get something figured out.

Also, thanks for reporting the ambiguity in [Nitrogen Percentage](http://purl.dataone.org/odo/ECSO_00001145). That needs to be clarified.

[2020-03-12 20:21] mpsaloha commented on #45
Hi Gastil,
Thanks for pointing out these issues.  Very much appreciated! Feedback and suggestions such as these make ECSO more useful AND accurate.

Often there are subtle reasons why things are where they are, but in this case, I think you have identified an inconsistency that needs to be corrected, namely "concentration measurement types" should be a subclass of "proportion measurement types", t

[2020-05-01 14:45] SrishtiSingh-eu commented on #39
{"@timestamp":"2020-05-01T16:42:46.834+02:00","level":"WARN ","thread":"main","class":"org.apache.jena.riot.system.ErrorHandlerFactory$ErrorLogger", "code_line_number":"95","message":"Lexical form '#2F4F4F' not valid for datatype XSD hexBinary "}
{"@timestamp":"2020-05-01T16:42:46.841+02:00","level":"WARN ","thread":"main","class":"org.apache.jena.riot.system.ErrorHandlerFactory$ErrorLogger", "cod

[2020-05-08 17:12] amoeba commented on #39
Hi @SrishtiSingh-eu, thanks for letting us know. Can you describe how you got those warnings? Hopefully in a way I can run locally? At first glance, those warnings don't look they come from ECSO.

[2020-05-19 12:14] SrishtiSingh-eu commented on #39
I have a String which has XML data. I get these warning when I convert it into Jena Model.
` InputStream rdfInput = new ByteArrayInputStream(data.getBytes());
Model modelResult = ModelFactory.createDefaultModel().read(rdfInput, "", "RDF/XML");
`

here is an part of the XML String data which raise warnings.

`<edm:componentColor rdf:datatype="http://www.w3.org/2001/XMLSchema#hexBinary">#FFE4B5</edm

[2020-07-09 22:04] amoeba opened #46 "Enable annotation editing in EML Editor"
(Issue made here but work is tracked at https://github.com/NCEAS/metacatui/issues/1402 too.)

MetacatUI's EML editor should be able to read in, edit, and serialize back out semantic annotations at the record, resource, entity, and attribute level. Doesn't have to be fancy right off that bat.

[2020-07-10 21:08] amoeba opened #47 "Establish set of SASAP packages to use for testing/demo"
Selected packages can go on a sandbox and should be useful for demonstrating the power of semantic search.

[2020-07-10 21:09] amoeba opened #48 "Set up sandbox for test data and code"
I'll use my own dev VM to start but we may want to put a coat of paint on it when demoing.

[2020-07-28 18:25] amoeba opened #49 "Build provisional salmon ontology"
We need an ontology or set of ontologies to annotate SASAP stuff with. @mpsaloha  is looking at building on the salmon ontology @csjx worked on to see if we would build from there or build on top. Doesn't need to be complete, just broad enough to let us demonstrate the value of semantics on the test corpus #48 .

The vocabulary should be compatible with the approaches in ECSO and OBOE.

This task

[2020-08-06 20:23] ThomasThelen opened #50 "Possible ProvONE Typos"
The [provone:Port](https://github.com/DataONEorg/sem-prov-ontologies/blob/master/provenance/ProvONE/v1/owl/provone.owl#L319), [provone: controls](https://github.com/DataONEorg/sem-prov-ontologies/blob/master/provenance/ProvONE/v1/owl/provone.owl#L46), and [provone:Controller](https://github.com/DataONEorg/sem-prov-ontologies/blob/master/provenance/ProvONE/v1/owl/provone.owl#L365) have two entries

[2020-10-16 22:03] amoeba opened #51 "Establish contribution guidelines for ECSO"
We'd like folks on the datateam and elsewhere to be able to suggest new terms or changes to existing terms. Providing a way to do that here on GitHub would be great and we could send people wanting to contribute to this repo.

- Update the root README with instructions
- Consider using an Issues template to help contributors fill in enough information about the addition or change they want

[2020-10-16 22:09] amoeba opened #52 "Discussion: Deposit ECSO into COR (in addition to BioPortal)"
We've talked about this as a group on calls and elsewhere and it came up again so I wanted to write a ticket for visibility.

We currently store ECSO in BioPortal and are not looking to change that any time soon. However, [COR](http://cor.esipfed.org/) is another great ontology repository that's topically related to ECSO and it might be a good place to publish ECSO too. @mbjones has already put Pr

[2020-10-16 22:55] mbjones commented on #52
I'm supportive, especially if the namespace stays externally managed and is identical to our current namespace as we release each version.

[2020-10-16 22:56] mbjones commented on #51
The template I used for [object-formats](https://github.com/DataONEorg/object-formats) might be a useful starting point.

[2020-10-17 00:19] mpsaloha commented on #51
I was recently told that this Google sheet was being used for the purpose
of documenting "missing terms" from ECSO or EnvO, that are needed for
attribute annotation:

https://docs.google.com/spreadsheets/d/1ULEwESDbepuPs2xGKrZMyWYW7BHOLmGi4C8luPgbsrQ/edit#gid=0

...but if we want to do this somewhere else, that is fine with me.  I think
the columns in the Google sheet are good ones.

It would also

[2020-12-04 23:01] amoeba opened #54 "Create first version of Arctic Report Card ontology"
Make a separate folder for it and add a README w/ any other relevant info

[2020-12-04 23:01] amoeba opened #55 "Upload Arctic Report Card ontology to BioPortal"

[2020-12-04 23:04] amoeba commented on #54
Initial version sent in #53 by @samanthacsik

[2020-12-04 23:10] amoeba commented on #54
Need to document at least:

- Authors
- Contribution guidelines
- Grants
- Ontology modeling guidelines
  - Our term label style (capitalization, pluralization, etc)
  - Which annotation property pattern(s) we're using
  - Our URI minting pattern

[2020-12-04 23:19] amoeba opened #56 "Add in DataONE.org PURL redirect"
We'll need a purl.dataone.org redirect in place so our URIs resolve to BioPortal once the ontology is uploaded and indexed.

See: https://github.com/DataONEorg/dataone_purl/issues/2

[2020-12-04 23:57] amoeba commented on #55
First version is in BioPortal but set to Private. @samanthacsik should have access. It's not indexed yet.

[2020-12-05 02:25] amoeba commented on #56
PR'd in https://github.com/DataONEorg/dataone_purl/pull/3. Need to put them in place still.

[2020-12-09 14:02] amoeba commented on #54
First draft of the readme written up in https://github.com/DataONEorg/sem-prov-ontologies/commit/e6cc724c8d14496290bd56ba5ea5bcdbaa711491 and I've gone ahead and created a GitHub release to match the v0.9 release we've got here and up on BioPortal: https://github.com/DataONEorg/sem-prov-ontologies/releases/tag/arcrc-0.9.

[2020-12-09 14:02] #54 closed

[2020-12-09 14:04] amoeba commented on #56
This is done. See https://github.com/DataONEorg/dataone_purl/issues/2.

[2020-12-09 14:04] #56 closed

[2020-12-09 14:04] amoeba commented on #55
v0.9 release is up on BioPortal and awaiting indexing. I've made a companion release here on GitHub at https://github.com/DataONEorg/sem-prov-ontologies/releases/tag/arcrc-0.9.

[2020-12-09 14:04] #55 closed

[2020-12-09 14:20] amoeba commented on #50
Thanks @ThomasThelen. I had a look at this and submitted a pr in #58 to address these as I agree with you. Waiting on others to comment.

[2020-12-09 19:26] mbjones commented on #50
@csjx @PaoloMissier @ludaesch Do you agree with this change? It would be the first change needed since provone_v1_dev was tagged. We have never released a v 1.0 of ProvONE, and so this might be a good time to find any cleanup needed and publish 1.0 with documentation and errata. Thoughts?

[2020-12-10 20:37] csjx commented on #50
I looked at it, and yeah, totally agree. To do a release, I feel like we need to look through the documentation, particularly the examples, and make sure we've covered all of the pertinent concepts sufficiently.

[2020-12-11 02:51] amoeba opened #59 "Reach out to BioPortal to ask about showing+resolving Instances"
@mpsaloha pointed this out: We use Named Individuals in ARCRC in a few places but BioPortal's view of the ontology doesn't show them. Other ontology hosts like OntoBee do http://www.ontobee.org/ontology/GAZ.

I'll send an email into BioPortal asking if we're missing something or if they'd consider adding to their web UI (and API).

[2020-12-11 02:51] amoeba commented on #59
Email sent.

[2020-12-24 18:07] ThomasThelen opened #60 "Broken Link in ProvONE Draft"
I ran across a broken link in the ProvONE draft.

It looks like the href is correct, but the href target might be incorrect. Note how there's two `bib-PROVO` tags [here](https://github.com/DataONEorg/sem-prov-ontologies/blob/master/provenance/ProvONE/v1/provone.html#L4022) and line 4025.

The namespace URL for ProvONE in _Example 1_ doesn't seem to resolve for me either; http://purl.org/provone (i

[2021-01-21 06:07] amoeba opened #61 "Build and deploy semantic annotation editing in MetacatUI’s metadata editor"

[2021-01-21 06:07] amoeba opened #62 "Build and publish a salmon ontology"

[2021-01-21 06:08] amoeba opened #63 "Extend MetacatUI’s semantic search to support more than just ECSO’s MeasurementTypes"

[2021-01-21 06:08] amoeba opened #64 "Enable semantic search in MetacatUI’s portals feature"

[2021-01-21 06:08] amoeba opened #65 "Semantically annotate some/all of SASAP holdings"

[2021-01-21 06:08] amoeba opened #66 "Conduct data-mobilization use case w/ ADF&G. Could we build something to continuously mobilize data"

[2021-01-21 06:10] amoeba opened #67 "Expose our salmon data holdings as a knowledge graph, interoperable with at least DOT’s knowledge gr"

[2021-01-21 06:10] amoeba opened #68 "Define set of salmon data management standards aimed at field biologists, area managers (aka “If onl"

[2021-01-21 06:11] amoeba opened #69 "Enable accessing resources in DataONE with dereferenceable HTTP IRIs (i.e., attributes, but also ent"

[2021-01-21 06:12] amoeba opened #70 "test"

[2021-01-21 06:12] #70 closed

[2021-01-21 06:12] amoeba opened #71 "Enable accessing resources in DataONE with dereferenceable HTTP IRIs (i.e., attributes, but also ent"

[2021-01-21 06:12] amoeba opened #72 "Enable schema.org/JSON-LD as harvestable metadata format in DataONE [as a means of enabling salmon r"

[2021-01-21 06:13] amoeba opened #73 "Expose semantic annotations to web and other clients in an RDF serialization of some sort"

[2021-01-21 06:13] amoeba opened #74 "Use Case for semantically-enabled Integration of Distributed Salmon data (e.g. IYS, DOF, ADFG, SASAP"
Develop Use Case

[2021-01-21 06:28] #61 closed

[2021-01-21 06:28] #62 closed

[2021-01-21 06:28] #63 closed

[2021-01-21 06:28] #64 closed

[2021-01-21 06:28] #65 closed

[2021-01-21 06:28] #66 closed

[2021-01-21 06:28] #67 closed

[2021-01-21 06:28] #68 closed

[2021-01-21 06:28] #69 closed

[2021-01-21 06:28] #71 closed

[2021-01-21 06:28] #72 closed

[2021-01-21 06:28] #73 closed

[2021-01-21 06:28] #74 closed

[2021-01-26 08:58] amoeba opened #75 "Annotate SASAP holdings"
We should annotate some or all of the [SASAP holdings](https://knb.ecoinformatics.org/projects/SASAP) using an ontology, possibly using a custom one (#49).

[2021-01-26 09:01] amoeba opened #76 "Conduct salmon data mobilization use case"
Conduct data-mobilization use case w/ ADF&G. Could we build something to continuously mobilize data out of ADF&G. Maybe constrained to one management area or even river system

[2021-01-27 02:45] amoeba opened #77 "Define set of salmon data management standards"
[This task should probably live at another location but using this repo and label as a catch-all]

For our salmantics work: Define set of salmon data management standards aimed at field biologists, area managers (aka “If only your data looked like this…”).

[2021-01-27 03:11] amoeba opened #78 "Use Case for semantically-enabled Integration of Distributed Salmon data (e.g. IYS, DOF, ADFG, SASAP)"
[This ticket should probably go somewhere else but I'm using this repo as a catch-all right now]

Develop out a use Case for semantically-enabled Integration of Distributed Salmon data (e.g. IYS, DOF, ADFG, SASAP). I copied this text from our Google Doc and could use some help filling it in and differentiating it from #76. @mpsaloha @mbjones @samanthacsik

[2021-02-09 01:07] #50 closed

[2021-02-09 01:10] amoeba commented on #50
Merged #58 for now and letting this issue auto-close.

Sounds like we need some cycles in order to do a release. I'd vote for waiting for now and coming back to the idea whenever we do PROV work in the future and dovetailing in a release.

[2021-02-09 01:22] #60 closed

[2021-02-09 01:26] amoeba commented on #60
Thanks @ThomasThelen, good find. The duplicate `id` was fixed in ea0e4a4e2c9acd018f82f3173521e5c85a3c01b1 and the incorrect namespace prefix for ProvONE was fixed in 36e7b92ced465bc594c81140a63f88ac85e49467.

[2021-02-09 16:21] ludaesch commented on #50
Hi team,
Sorry I'm seeing this only now. I'm having a hard time understanding all
the details and repercussions without a bit more context.

For those ProvONE enthusiasts among us - would it be more efficient to set
up a brief chat / zoom call in the near future?

On Mon, Feb 8, 2021 at 7:10 PM Bryce Mecum <notifications@github.com> wrote:

[2021-02-09 21:34] mbjones commented on #50
@ludaesch One of the reasons I think it would be good to clean it up is that yesterday we just released version 1.2 of the Science on schema.org Dataset guidelines, and those explicitly incorporate PROV and ProvONE as the recommended way to document provenance relationships in schema.org. See https://github.com/ESIPFed/science-on-schema.org/blob/master/guides/Dataset.md#provenance-relationships  S

[2021-02-09 22:06] ThomasThelen commented on #50
After playing around with ProvONE in Whole Tale, some DataONE things, and the SDTL work I have a couple of opinion-based nice-to-haves.

1. Examples demonstrating SPARQL queries to make it a little more useful/easy to use out of the box. Whether it's a docker image with blazegraph, a bunch of folders - each with files and an associated provone document, and then a set of associated queries: What w

[2021-03-03 22:46] cgries opened #79 "ECSO_00001122 TIC has synonym of DIC"
ECSO_00001122 'Freshwater Total Inorganic Carbon Concentration' lists the synonym of 'DIC' which would be dissolved inorganic carbon. My understanding is that they are not synonyms. DIC is determined after filtering water, while TIC contains particulate carbon. In the ECSO_00001122 record 'DIC' is repeated under altLabel and has_exact_synonym.

[2021-03-03 22:53] mbjones commented on #79
@mpsaloha @samanthacsik can you clarify how terminology issues like this pointed out by @cgries will be resolved? Assuming a change is needed, how does that impact backwards compatibility, especially for documents that may have annotated against the term with its original synonymy?

[2021-03-05 00:13] mpsaloha commented on #79
Hi Corinna,

Thanks for pointing out this inconsistency in ECSO!

I did find references in the literature to "*Total* *Dissolved* Inorganic
Carbon", indicating that the descriptor 'Total' does not imply that
*Particulate* components are necessarily included. Though I'd agree that in
the context of an annotation to  "Freshwater Total Inorganic Carbon
Concentration"-- it probably does (involve such

[2021-03-05 03:21] mobb commented on #79
I'll dig into some old notes. I think that synonym is an error for the
class as labeled. However, it might be just the labels, and
the hierarchy is fine. This part of ECSO needs work; e.g.,- there is also a
second class labeled DIC: odo:ECSO_00000632 that Mark put in.

Definitely we need the particular inorganic fractions represented too
(e.g., for precipitates and coccoliths in seawater); I don't

[2021-03-19 00:09] mbjones opened #80 "identify salmon data sets to be annotated"

[2021-03-19 00:10] mbjones opened #81 "annotate salmon data EPIC"
This Epic collates the tasks needed for a first pass at annotating salmon-related datasets for discovery and integration. We recognize that annotating data will be an ongoing and iterative process, so this epic is really focused on getting the first pass done with the infrastructure needed to support annotating for salmon data discovery and integration across several institutional holders of salmo

[2021-03-19 01:10] mbjones opened #82 "mobilize salmon data"
Conduct data-mobilization use case w/ ADF&G, DFO, PNAMP, and other IYS partners. Attempt to build something to continuously mobilize data out of ADF&G and others. The goal here is to convince partners that timely publishing of open data, with robust metadata and semantic annotations, can lead to big gains for all participants.  Key components of this approach:

- open data catalogs from providers

[2021-03-19 01:51] mbjones opened #83 "set up salmon data repos for harvest"
Set up harvest from salmon data repositories identified in issue #7 as DataONE members using schema.org or other mechanisms as appropriate.

[2021-03-19 01:59] mbjones commented on #76
This ticket was very general, and has been replaced by the more specific tasks in epic #82. So closing this. Please add any new tasks to Epic #82, and any details in general about the mobilization to that epic ticket.

[2021-03-19 01:59] #76 closed

[2021-03-24 01:23] mbjones commented on #49
@samanthacsik Any update on this initial vocabulary work?

[2021-03-24 01:29] mbjones commented on #75
Related to #80 -- we probably want to do this in two batches, unless doing them all at once is straightforward.

[2021-03-24 16:41] samanthacsik commented on #49
Currently focused on defining ASL terms + some anatomical structures + SASAP's faceted search terms. You can find those in the Google Sheet below:

- [ASL/anatomical structures/etc](https://docs.google.com/spreadsheets/d/16-HCOMBJyMjTXE5aeRSCG2V6kUVBNFi6-Ont-VajGok/edit#gid=2098995835)
- [SASAP faceted search terms](https://docs.google.com/spreadsheets/d/16-HCOMBJyMjTXE5aeRSCG2V6kUVBNFi6-Ont-VajGo

[2021-03-24 16:54] samanthacsik commented on #80
Batch 1 currently underway. I've pulled 66 ASL datasets (across 16 datapackages) with plans to annotate at both the attribute and entity levels based on our conversation last week.

I've also done a corpus-wide assessment of most common attribute types (e.g. precipitation and temperature-related attributes are by far the most common attributes) so we can target those that will get us the largest r

[2021-03-26 04:13] amoeba commented on #49
That's great news @samanthacsik , thanks.

When you do that, I'm curious how/whether you might automate that process and if we can capture that workflow somewhere so that it can be re-run and applied to other term lists like you've linked. Think CSV->OWL. Just a thought.

[2021-03-26 18:21] mbjones commented on #49
@samanthacsik we wrote a python module `csvtotriples` for converrting CSV files into OWL documents that I think could be pretty easily adopted to your case, although it might require some restructuring of your spreadsheet -- basically preprocess your spreadsheet into the CSV format required by csvtotyiples, and then let it loose. See https://github.com/Semantic-Observations/obs-models/tree/master/

[2021-03-26 18:24] mbjones commented on #49
And note the section on "Mappings" in the readme where we talk through some of the issues you've raised about pulling out controlled values that are embedded in columns in the data files....

[2021-03-29 20:12] samanthacsik commented on #49
@mbjones @amoeba @mpsaloha I've added my [salmon_ontology_v0.1.owl](salmon_ontology_v0.1.owl) to a new branch called `intitial-salmon-onto`. I was unsure of the protocol for defining a "version," but since this is still very much a work in progress, I went with 0.1 -- I can of course change if that's not appropriate.

Right now, I've been primarily working on adding some of the faceted search term

[2021-03-29 21:54] amoeba commented on #49
I think that ROBOT template approach is great for now. csvtotriples might need further development work to make it work better for OWL files and ROBOT seems pretty mature by comparison.

[2021-04-02 02:02] amoeba commented on #49
Hey @samanthacsik, following up on our call today, I'm going to drop some comments in here about what I see. Some of these things I'm sure you are already aware of and already have on your list of todos but I felt like dropping them in here for completeness. All of these are questions _we_ can answer as a group so it's not all on you:

- I see all the terms have IRIs like "http://purl.dataone.org/

[2021-04-02 20:05] mbjones opened #84 "host GNIS-LD vocabulary"
The USGS names vocabulary is GNIS, which has been converted to linked data format as GNIS-LD. See paper:

Regalia B, Janowicz K, Mai G, Varanka D, Usery EL (2018) GNIS-LD: Serving and Visualizing the Geographic Names Information System Gazetteer as Linked Data. The Semantic Web, :528–540. https://doi.org/10.1007/978-3-319-93417-4_34

The endpoints for the vocabulary and sparql service have been pu

[2021-04-02 21:27] samanthacsik commented on #49
We haven't spent a ton of time discussing ontology names, though decided against `SALMO` since that's the genus name for Atlantic salmon. Currently the prefix for all IDs is `salmon_` like you've noted though we can easily change that. If we want to go with something super generic like "The Salmon Ontology," `salmon_` might be a fine namespace to keep, but this is probably deserving of a bit more

[2021-04-02 21:31] amoeba commented on #84
@mbjones just for clarification, are you thinking we'd re-host gnis-ld.org (it seems dead now) in its own right and also look into integrating it into our existing work?

Wayback got a snapshot of the site last year at http://web.archive.org/web/20200813083037/http://gnis-ld.org/ and Blake has what looks like most of the software + pipeline stuff at https://github.com/blake-regalia. So if we were

[2021-04-02 23:18] mbjones commented on #84
Yeah, the idea that @mpsaloha and I discussed, and that @mpsaloha discussed with Jano, was that we might host gnis-ld.org as part of our graph infrastructure at DataONE. To the extent that it is compatible with our approaches, that could make sense. We wouldn't necessarily have to duplicate everything that Blake did if it makes sense to put some of this in another production triple store, but the

[2021-04-02 23:32] amoeba commented on #84
Sounds great. Looking forward to kicking the tires.

[2021-04-03 00:02] amoeba commented on #49
Thanks for the detailed response to my comments @samanthacsik!

Re:

That's probably a great start. Name + authors + license + website/github is really pretty good. Maybe other ontologies like ENVO would be a good place for ideas.

I think so. and "personal use" is a special kind of "subsistence". And people unfortunately use them interchangeably. Safe to connect them but not make them synonyms.

[2021-04-07 23:32] amoeba opened #85 "Clean up stale ECSO branches"
We have three long-standing and stale ECSO branches:

- `ECSO8-add_non-carbon_measurements`
- `ArcticECSO`
- `run4`

Having these around is problematic from my perspective because it's not clear where new work should go and it's not clear which is the authoritative copy of ECSO. We were hoping to have someone more familiar with the work resolve these issues but I think I can probably do a decent j

[2021-04-09 16:37] mpsaloha commented on #85
Hi Bryce et al.

Thanks for looking into this Bryce. I also spent time looking into some of
these issues, and where these overlap, we are in complete agreement.

I believe you uploaded the copy of ECSO that is currently in Bioportal in
late Sep 2019, and that version included *most* but not all of the
additions from Steven (before he left the project), Margaret, and myself.

I am currently reviewi

[2021-04-09 17:06] stevenchong commented on #85
I'm glad to see that this repo is getting cleaned up! ECSO8.owl is the primary file. It has all of the updates I made and it should be merged into the master branch.

The ECSO4.owl file was used as the basis for the ECSO8 file, so it's probably worth archiving along with the d1-ecso file. I don't recall working with the ArcticECSO branch when I was adding/editing terms in ECSO.

[2021-04-09 19:39] amoeba commented on #85
Thanks @mobb, @mpsaloha, @stevenchong .

@mobb: We're continuing to incorporate semantics into our various projects and so we'd like to get things tidier, yeah. We have no plans to abandon ECSO and are actually hoping to keep it under active management for the foreseeable future.

Sounds like we're in agreement here that we can merge in the ECSO8 file @mpsaloha is working on once he's done and I c

[2021-04-10 00:57] amoeba commented on #78
Was chatting with @mpsaloha earlier and wanted to add some detail about what this could look like.

1. Use case: As a scientist, I want to be able to perform a semantic search and be show which columns in which files in matching packages actually matched my semantic search.
  - How we might implement/demo this: When searching in the MetacatUI catalog, you currently lose all context of your search

[2021-04-15 00:48] mbjones commented on #85
@amoeba when you clean up, please don't delete branches unless you tag them beforehand so that we have a reference to the work at that point. Branches like `run4` were used to flag the exact version we used for the earlier quantitative analysis runs, and we will benefit if it continues to be accessible for future inspection. tags seem appropriate if the branches are somehow annoying, but I would j

[2021-04-15 15:58] amoeba commented on #85
Thanks @mbjones, I'll probably leave that branch around since I know we've hardcoded it in various places. And adding a tag to go with it is a good idea.

[2021-04-23 19:19] amoeba opened #86 "What are the terms in ECSO with the text "MOV" in the>"

[2021-04-23 19:21] amoeba commented on #86
Example
<img width="524" alt="Screen Shot 2021-04-23 at 11 20 53 AM" src="https://user-images.githubusercontent.com/563/115919944-fbca0c80-a425-11eb-9ee0-c937a13d60a2.png">

[2021-04-23 19:30] amoeba commented on #86
From @mpsaloha:

[2021-04-23 20:28] amoeba commented on #86
Also from @mpsaloha:

So I think we have an answer to the main question in this thread. I think there are two very related things to touch on.

First, @laijasmine 's initial comment that started this:

The issue here is that picking the "best" term for this is hard because we essentially have two terms that a scientist could get confused over:

<img width="621" alt="Screen Shot 2021-04-23 at 12 04

[2021-04-23 20:29] amoeba commented on #86
We already have some related issues:

- https://github.com/DataONEorg/sem-prov-ontologies/issues/42
- https://github.com/DataONEorg/sem-prov-ontologies/issues/43

[2021-04-29 22:36] mbjones opened #87 "document contributions model for Salmon ontology"

[2021-04-29 22:37] mbjones commented on #87
We need a model for how people can contribute new terms to the salmon ontology, and how we review and vet those for inclusion in a new release of the ontology. This could be as simple as a CONTRIBUTING.md file modeled on our existing ones from other repositories.

[2021-05-03 19:44] samanthacsik commented on #87
Just gathering some useful resources to draw inspiration from (ENVO has some really well defined protocols for contributors). I see a few different options, though we may want to provide a couple different ways for editors to contribute depending on their level of familiarity (with Protégé, formalized ontology development, etc.) and the number of terms requested.

**Option 1: Request that a small

[2021-05-04 22:19] mbjones commented on #87
@samanthacsik These all sound like good ideas. For all three options, I think it would be good to have an open issue to discuss and refine terminology proposals. We have an issue template for object format additions to the DataONE formats vocabulary that might be useful as a guide. Here's an example for the GeoJSON format proposal: https://github.com/DataONEorg/object-formats/issues/16

[2021-06-25 23:50] amoeba opened #88 "Release first version of MOSAiC ontology"
@mpsaloha and @laijasmine are nearly ready with the first version of the MOSAiC ontology. This'll go in a branch and we'll want to merge to main and cut a GH release.

- [x] @amoeba to do a quick editing pass
- [x] Merge to main and create a release (rename master in the process)
- [ ] ~~Decide on place to host the ontology~~ Moved to https://github.com/DataONEorg/sem-prov-ontologies/issues/96.
-

[2021-07-01 01:04] amoeba commented on #88
@mpsaloha sent me a v1 draft but indicated that we wanted to materialize inferred axioms in the OWL file. He was having trouble getting the Protégé "Export inferred axioms as ontology..." feature to run at all.

I tried it on my end and it ran fine and materialized the kinds of inferred axioms we were looking for. But then we noticed the result is a bit funny: It seems like it copies from some ann

[2021-07-01 01:30] amoeba commented on #88
I took Mark's last version, exported an inferred copy, re-added PROVONE, SSN, and SOSA imports, and took an initial attempt at some of the annotations in the list above (dcterms:title, etc). I'll touch base with @mpsaloha and the rest of the team tomorrow to try wrapping things up.

[2021-07-01 01:39] amoeba commented on #88
Oh, and I threw up a PyLODE page for the latest copy of the draft at https://60dd1c46a436a937e61a6874--reverent-austin-ec584b.netlify.app if anyone wants to check it out. You can see some quick things that we might tweak, like creators, a better description, and an overview image.

[2021-07-03 01:50] amoeba commented on #88
We're close but not quite there yet on this. @mpsaloha did some more work and sent me an update. I made two commits:

1. Remove the extra top level statements Protégé is dead set on making when we export as inferred: https://github.com/DataONEorg/sem-prov-ontologies/commit/9a1ed73f6b9f9a10edb705ced4f522a6f7ad9bba
2. Make some editorial changes, mainly breaking apart unstructured info such as creat

[2021-07-09 05:21] mbjones opened #89 "add contribution guidelines"
It is unclear how the ECSO and other ontologies are managed and what contributions are made. Add an appropriate description, based on discussions with @mpsaloha and @mobb.  While I'm at it, set up our starndard branch structure for contributions, using `main` and `develop` branches.

[2021-07-09 05:23] mbjones commented on #89
The default branch has been renamed!

`master` is now named `main`

If you have a local clone, you can update it by running:

[code]

[2021-07-09 06:13] mbjones commented on #88
Trying to follow new proposed contributing guidelines, I renamed the branch from `MOSAiC` to `feature-88-mosaic` and I would like to delete the original branch, but let's discuss.

[2021-07-09 06:23] mbjones commented on #49
@amoeba @samanthacsik @mpsaloha To follow the new proposed CONTRIBUTIONS model, I renamed the branch for the salmon ontology work to `feature-49-salmon-ontology`, which is currently identical to `initial-salmon-onto`. I would like to delete the `initial-salmon-onto`, but let's discuss whether that is warranted. I will also merge changes from `develop` into this branch to bring it up to parity.

[2021-07-09 06:32] mbjones commented on #89
Added an initial CONTRIBUTING.md file, with our standard `main` and `develop` workflow for releases, and branch protections for `main`. New features (like the MOSAIC ontology and SALMO ontology) should be developed on feature branches that are branched from `develop`, and should be named using the issue number for the issue they are targeting. For example, I created `feature-88-mosaic` and `featur

[2021-07-09 06:34] mbjones commented on #87
I started a CONTRIBUTING.md file describing how to contribute to the ontology work in issue #89 -- please continue discussion there, and bring any of the ideas along from this thread that are needed. I will leave this open until we've had a chance to migrate ideas, but this should be closed along with #89 when ready.

[2021-07-09 06:37] mbjones commented on #51
I added CONTRIBUTING.md to describe a proposed approach in issue #89 which would cover all ontologies in this repo, including ECSO. Please review and comment in #89, and then we can close this issue with that one.

[2021-07-09 06:40] mbjones commented on #41
@amoeba Let's be sure to capture the current 0.9 release of ECSO in the repo and tag it.  I will create a branch for this new ecso 0.10 feature work.

[2021-07-09 07:04] mbjones commented on #41
To follow the new contributing guidelines in #89, I created a new branch `feature_41_ecso_0.10` to contain the work on the ECSO 0.10 release under this ticket. This new branch was cloned from the branch `ECSO8-add_non-carbon_measurements` to get what I think is the current checked in version of ECSO8.owl, and then changes were merged into it from `develop` to catch it up with housekeeping changes.

[2021-07-13 20:20] amoeba commented on #51
Thanks @mbjones. I looked over the changes and they look good to me. Anyone feel free to re-open this if you have any comments specifically about contribution guidelines for ESCO. Otherwise, let's discuss on https://github.com/DataONEorg/sem-prov-ontologies/issues/89.

[2021-07-13 20:20] #51 closed

[2021-07-13 20:24] amoeba commented on #89
Looks fine to me, @mbjones. Thanks for taking the initiative to get this set up. Once people get sync'd up with GitHub, I think we can do a pass over the existing branches and do some much-needed cleanup.

@samanthacsik I think a branch or two have been renamed for which you might have had uncommited or unpushed changes so let's touch base when you're ready to send your latest changes up to make s

[2021-07-13 20:27] amoeba commented on #41
Hey @mbjones, thanks for going through the branches. That all matches my memory so I think we're good. The next release of ECSO was waiting on @mpsaloha for a set of eyes so we might touch base with him to see if he has any changes or if we can cut a release here. I'll put it on the agenda for this week's salmantics call.

[2021-07-13 20:31] amoeba commented on #49
Sounds good. We decided to not delete stale branches that are pushed to GitHub with our other projects so we might stick with that here unless we have a good reason to deviate here. Personally, I'm fine with the extras but others may differ.

[2021-07-13 22:53] amoeba opened #90 "Expand purl.dataone.org redirect for ECSO"
@mpsaloha was looking for a stable, resolve-able URI for ECSO today and we don't really have one. This gap exists for, I think, all of our ontologies. We've talked about eventually having a centralized home for all ontologies but, until then, I think we can incrementally improve what we have in place now and go from there.

We have a redirect for ECSO URIs over to BioPortal set up on purl.dataone.

[2021-07-13 23:35] amoeba commented on #90
Issue created on dataone_purl at https://github.com/DataONEorg/dataone_purl/issues/6 and change PR'd in https://github.com/DataONEorg/dataone_purl/pull/7.

I think @mpsaloha is good on this change. @mbjones does this seem okay to you?

[2021-07-13 23:45] mbjones commented on #90
@amoeba Overall this looks good to me. So, does this mean that the namespace for ECSO ends in an underscore? Is that what we want? And is it the same pattern used by OBO Foundry for namespaces for their numerically identified terms?

[2021-07-14 00:08] amoeba commented on #90
Yeah, I think that's the right take and, as far as I can tell, this all matches the [OBO Foundry policy](http://www.obofoundry.org/id-policy). The way I read it, our "IDSPACE" for ECSO is `http://purl.dataone.org/odo/ECSO` and Foundry-compliant URIs follow this form:

FOUNDRY_OBO_URI ::= "http://purl.obolibrary.org/obo/" IDSPACE "_" LOCALID

which leads to ECSO:00001234 being the natural shorthand

[2021-07-14 00:41] mbjones commented on #90
Sounds good. And, yeah, we should rename it ECSO.owl. I think that was simply an artifact of filename versioning rather than using source code control for versioning. I don't think it was ever released that way, but a `git mv` will preserve the history links between the filenames. Thanks Bryce.

[2021-07-14 00:55] amoeba commented on #41
As a note, we did have a conversation about the numerous branches and that thread is at https://github.com/DataONEorg/sem-prov-ontologies/issues/85. Looks like the conclusion is that we're on the right track and ECSO8-add_non-carbon_measurements is the latest.

[2021-07-14 00:56] amoeba commented on #90
Sounds good. I've added a note about this to the checklist at the top of https://github.com/DataONEorg/sem-prov-ontologies/issues/41 (Release ECSO 0.10 issue) so it gets handled at that point.

[2021-07-15 06:32] amoeba commented on #90
These are live.

- https://purl.dataone.org/odo/ECSO
- https://purl.dataone.org/odo/ECSO_

Both redirect to BioPortal.

[2021-07-15 06:32] #90 closed

[2021-07-19 18:21] samanthacsik opened #91 "move environmental measurement type terms from the Salmon Ontology to ECSO"
There are a few environmental measurement type terms that I have added to the Salmon Ontology #49 which were either (a) missing from ECSO or (b) lacking definitions. @amoeba @mpsaloha we discussed moving these terms out of the current Salmon Ontology draft and into ECSO:

**Terms that need to be minted in ECSO (i.e. terms that don't yet exist in ECSO)**
- `Seawater alkalinity`
- `Stream water temp

[2021-07-21 22:01] amoeba commented on #89
Closing since no comments have come in the last week. If you do have any comments, please feel free to comment and we can re-open. Thanks for adding this @mbjones.

[2021-07-21 22:01] #89 closed

[2021-07-21 23:48] amoeba commented on #91
Those terms look pretty reasonable. Thanks for writing all of this up!

To your question about importing the terms back once extracted, I'm not sure I know enough just yet to say. You mention importing individuals terms though I'm not sure that's really a thing in the OWL sense. I could be wrong here though. Ontologies are just sets of triples and if you want to use a term in another ontology in y

[2021-07-22 16:16] samanthacsik commented on #91
I know this conversation is split between here and slack, so to summarize for organization's sake: @mpsaloha is looking into how to properly reference terms from other ontologies. Importing individual terms from an ontology (as opposed to the whole ontology) has been challenging, largely for the reasons @amoeba describes above. SSOM (https://github.com/mapping-commons/SSSOM) is one new approach to

[2021-07-22 16:51] mbjones commented on #91
Hi @samanthacsik changes targeting ECSO 0.10 should be done on the designated branch for that, https://github.com/DataONEorg/sem-prov-ontologies/tree/feature_41_ecso_0.10/ecso  There is currently an ECSO8.owl file in there that we have determined is the most recent, and it will be renamed ECSO.owl before the release occurs. I'll talk to @amoeba about renaming things and cleaning up to make that al

[2021-07-22 22:57] amoeba commented on #91
Just a minor note: The most recent in-dev version of ECSO is on @mpsaloha 's computer and he's planning to send that to me ASAP so I can integrate it here.

[2021-07-27 00:24] amoeba opened #92 "Re-visit taxonomic name and rank MeasurementType classes"
@mbjones and I had a chat about how this EML dataset description was annotated: https://search.dataone.org/view/https%3A%2F%2Fpasta.lternet.edu%2Fpackage%2Fmetadata%2Feml%2Fedi%2F252%2F3.

Specifically, EML Attributes like `taxon_rank` with a definition of "Taxonomic rank of the organism." were annotated with `OBOE:contains measurements of type` `ECSO:taxonomic classification`.

For starters, `ECS

[2021-07-27 01:13] mbjones commented on #92
Note this [issue discussion](https://github.com/tdwg/dwc/issues/359) regarding Darwin Core and TCS, which has new activity through a new [Taxonomic Names and Concepts](https://www.tdwg.org/community/tnc/) interest group at TDWG. Sounds like they will be charged with a formal model of `Taxon` with associated object properties for TDWG.

[2021-08-06 01:29] amoeba commented on #88
Before I make the above changes, I wanted to check and see if there were usages of MOSAiC in the wild and I see four: https://search.dataone.org/cn/v2/query/solr/?q=sem_annotation:*MOSAiC*&fl=id,sem_annotation. I'm going to coordinate with @laijasmine to make sure we can update those annotations.

[2021-08-10 02:48] amoeba commented on #88
@mpsaloha sent me the pre-inferred copy today and I re-inferred the full copy and made all the URI tweaks above. I wrote up a quick readme in the folder https://github.com/DataONEorg/sem-prov-ontologies/tree/feature-88-mosaic/MOSAiC.

I'm going to touch base with @mpsaloha so he can look at the final copy but I think we can move forward from here.

[2021-08-11 00:55] amoeba commented on #88
The MOSAiC ontology is ready to be merged onto main in https://github.com/DataONEorg/sem-prov-ontologies/pull/94. GitHub is telling me a PR onto main needs a reviews. @mbjones could we remove that restriction? At any given time, we'll likely only have one person on staff (me) that has their head deep enough in this stuff to do a real review.

[2021-08-11 01:00] amoeba opened #95 "Test out MOSAiC ontology in BioPortal"
It'd be good to submit the MOSAiC ontology to BioPortal now that it's nearing release (see https://github.com/DataONEorg/sem-prov-ontologies/pull/94). I'm going to submit it as a Private entry (only I can see it) and we can go from there.

[2021-08-11 01:06] amoeba commented on #95
Ontology submitted. Typically takes a large part of a day to index.

[2021-08-11 18:40] mbjones commented on #88
Restriction removed, and I submitted an approving review. I think this issue can be closed now.

[2021-08-11 19:09] amoeba opened #96 "Decide on a place (or places) to host the MOSAiC ontology"
We need a home for the MOSAiC ontology beyond GitHub. There can be multiple homes but there should be a primary one, preferably one that gives a good overview of the ontology. Right now I'm thinking a PyLODE page might be best because we make such extensive use of instances and the PyLODE page gives folks a way to check those out in a web browser. BioPortal [doesn't yet](https://github.com/ncbo/bi

[2021-08-11 19:11] amoeba opened #97 "Put in purl.dataone.org redirects for MOSAIC"
Ensure both the ontology IRI, version IRI, and all terms will de-reference.

[2021-08-11 19:14] #88 closed

[2021-08-12 21:14] amoeba commented on #59
No update yet but they have filed an issue and assigned to an engineer: https://github.com/ncbo/bioportal-project/issues/197.

[2021-08-12 21:58] amoeba opened #98 "Consider establishing a central home for all of our ontologies"
[Belatedly starting a ticket for this]

The simple questions of "What ontologies has DataONE created, which ones do they maintain, and how do I find out more information about them?" are messy to handle right now. In theory, each ontology has a:

- Primary, human-readable web page for itself
- Location on the web someone can fetch the OWL file
- Source control repository (e.g., this one for many o

[2021-08-13 01:19] amoeba commented on #98
I put together a POC that's live at https://dataoneorg.github.io/sem-prov-ontologies, deploying from a feature branch on this repo. The style is modeled pretty closely after https://purl.dataone.org just to keep things looking uniform.

This all use a GitHub Action I wrote that runs a workflow to validate with RIOT the ontologies and build the website (GH Pages) portion on success:

<img width="59

[2021-08-14 00:51] amoeba commented on #97
Done. See https://purl.dataone.org/odo/MOSAIC_00000023 as an example.

[2021-08-14 00:51] #97 closed

[2021-08-18 00:00] amoeba opened #99 "Deal with two KWG URIs in the MOSAiC ontology"
We found that two MOSAiC URIs used the KWG URI prefix:

- http://purl.dataone.org/odo/KWG_Hazards_00000225
- http://purl.dataone.org/odo/KWG_Hazards_00000226

These were released in v1.0.0. @mpsaloha says there are some spaces in the MOSAiC URI space so we can fill in two gaps with these. I'm not sure yet how we should handle this: Do we deprecate the two URIs above or something? I'll look into it

[2021-08-18 00:07] amoeba commented on #99
In the ontology, we reference these URIs with the following triples:

http://purl.dataone.org/odo/KWG_Hazards_00000225

[code]

http://purl.dataone.org/odo/KWG_Hazards_00000226

[code]

[2021-08-18 06:57] mpsaloha commented on #99
Those two terms have a mis-minted prefix, and their numerical parts are not
yet taken up in the MOSAIC namespace.
Solution:  global edit of "KWG_Hazards" to "MOSAIC"

Mark

On Tue, Aug 17, 2021 at 5:00 PM Bryce Mecum ***@***.***>
wrote:

[2021-08-18 07:50] amoeba opened #100 "Check into the topObjectProperty inferencing issue in MOSAiC"
@mpsaloha mentions:

[2021-09-03 01:24] amoeba commented on #98
PR'd onto the develop branch at https://github.com/DataONEorg/sem-prov-ontologies/pull/101. I'll leave this open in case there's discussion.

[2021-09-03 02:15] amoeba opened #102 "Explore SHACL validation for checking ontologies"
We discovered on Slack today that some a property we expected (`mosaic:hasBasis`) wasn;t present on every `mosaic:Campaign` and it should have been. Manually checking the ontology after every change is time-consuming and error-prone. It'd be great to write a set of SHACL shape constraints that we could use to check for some of these things.

I'll build out a GHA that does some basic checking and t

[2021-09-03 02:16] amoeba commented on #102
This looks pretty promising. With just a simple constraint:

[code]

PySHACL catches the exact problem we saw today:

[code]

[2021-09-03 02:36] amoeba commented on #102
I just did a quick look-over to see what checks might make sense to implement as a first pass:

- Every `Campaign` has a single `Basis`
- Every `Campaign` has at least one `Chief Scientist`
- Every `Campaign` hosts at least one `Event` (is this right?)
- Every Event `isHostedBy` a single `Campaign`
- Every `Chief Scientist` is a chief scientist of at least one`Campaign`
- Every `Deployment` has a

[2021-09-03 03:14] amoeba opened #104 "Fold Mark's latest changes into a new MOSAiC release"
Mark sent along his latest changes to the raw version of MOSAiC which address some things we've discovered since the 1.0.0 release. I'll incorporate them, re-export an inferred copy, and hit all the switches to get the newer version up.

[2021-09-03 17:20] mpsaloha commented on #102
@amoeba those look like good suggestions for constraints!  Note that the MOSAIC Ontology is in OWL, and so is OWA. Thus, while all Campaigns do have a Basis, that doesn't mean that all Campaigns _in our Ontology_ must have an associated Basis, unless we decide to "require it" (hence SHACL which is CWA).  Thus, the lack of some Campaign having a Basis or having a Chief Scientist was not an"it shoul

[2021-09-03 19:56] amoeba commented on #102
You might have to define OWA and CWA for me. Other than that, your comment makes sense.

What I want to do is help you and @laijasmine get the work you both need to do on MOSAiC done quickly and efficiently so if we can add SHACL validation rules to help catch things like the hasBasis thing then that'd make me happy.

Are an of the rules above ones you want?

[2021-09-03 20:15] laijasmine commented on #102
all of the above rules look good to me except for the last one i'm not sure about and Mark will need to confim:
Every Deployment has a single deployedSystem

[2021-09-04 00:28] amoeba commented on #102
Thanks @laijasmine. I'll touch base with @mpsaloha at some point here.

[2021-09-08 02:42] amoeba opened #105 "Set up workflow to alert when the MOSAiC ontology is out of date with PANGAEA"
Piling on to https://github.com/DataONEorg/sem-prov-ontologies/issues/102, PANGAEA's information on MOSAiC is very machine-readable so we can pretty easily (1) generate an ontology from their data but also (2) check _our_ ontology against their information.

For example, we could pretty easily check if PANGAEA adds a new campaign. NB: This happened and we didn't know for quite a while. Keeping in

[2021-09-08 02:48] amoeba commented on #105
This was pretty straightforward to set up. In https://github.com/DataONEorg/sem-prov-ontologies/tree/feature-105-mosaic-check, I added a GHA that currently returns:

[2021-09-09 01:19] amoeba commented on #104
@mpsaloha sent over changes via Slack. Here's the ROBOT diff:

[code]

[2021-09-09 02:11] amoeba commented on #104
I looked over the above diff and found one issue: The new inverse property isBasisFor was minted from the old HTTP namespace prefix and the IRI collides with an existing IRI. I'll touch base with @mpsaloha about it and get a new IRI.

I also translated the above diff into a more easily digestible form which we can put with the tagged release on GitHub:

**CHANGED**

- IRIs for NamedIndividuals wit

[2021-09-09 02:18] amoeba commented on #104
Left a message for @mpsaloha on Slack. I think the next free IRI is https://purl.dataone.org/odo/MOSAIC_00011225

[code]

[2021-09-10 01:36] amoeba commented on #104
We decided on https://purl.dataone.org/odo/MOSAIC_00012001 and everything else looks in order. I'll work on exporting an inferred copy and doing various release steps tomorrow.

[2021-09-10 01:37] amoeba commented on #99
We decided to simply edit the prefix to the correct one. I'm not really sure if that's the best thing but it's probably not very very problematic because (1) these were named individuals and not, say, classes and (2) the ontology isn't really out in the wild yet.

[2021-09-10 01:37] #99 closed

[2021-09-11 01:56] amoeba commented on #104
Raw and inferred versions of MOSAiC 1.0.1 in as of https://github.com/DataONEorg/sem-prov-ontologies/commit/a8b7ff1f6f6d765c57f97994e574ea6f3a79973e.

[2021-09-11 01:56] #104 closed

[2021-09-11 02:10] amoeba commented on #102
We discussed part of this on our salmantics call this week and we talked about the point above: Should this ontology be comprehensive over all of the MOSAiC expedition or just what PANGAEA or we have? We decided that we should aim to be comprehensive. We're presenting an PDF soon and are hoping to have some conversations about the ontology and the project as a whole with relevant folks.

I've merg

[2021-09-11 02:11] amoeba commented on #100
These just magically went away in https://github.com/DataONEorg/sem-prov-ontologies/commit/7785bfb26db37c235c280b4064fda88ecea47bd9#diff-ec2de156a3d659cc467d574de043860de022c065ffc45cc215c3146f4639c4d3. I'm not sure why but they're no longer present.

[2021-09-11 02:11] #100 closed

[2021-09-11 02:12] amoeba commented on #98
Merged to develop and I'll weave this into the next release.

[2021-09-11 02:12] #98 closed

[2021-09-11 02:13] amoeba commented on #95
I did this a while ago and am just updating this now. Things look good and I'll be getting the 1.0.1 release up and public.

[2021-09-11 02:13] #95 closed

[2021-09-11 02:17] amoeba commented on #105
A basic skeleton for this is merged onto develop.

[2021-09-11 02:17] #105 closed

[2021-09-16 04:54] amoeba opened #108 "Address some notes on the salmon ontology"
While doing another scan of the salmon ontology (as checked into git), I'm noticing some things that seemed odd which we might look at.

- Under "Total recruit abundance", we've broken out freshwater/saltwater ages in such a way that the freshwater age is the parent class of the total age.

  <img width="284" alt="Screen Shot 2021-09-15 at 8 39 44 PM" src="https://user-images.githubusercontent.com

[2021-09-16 16:14] mpsaloha commented on #108
This is an area I haven't yet reviewed, and need to do so

[2021-09-16 18:09] amoeba commented on #108
Thanks @mpsaloha, I'll be curious to hear your thoughts!

[2021-09-25 00:22] amoeba opened #110 "Fix validation issue on ARCRC"
In #109 we included the Arctic Report Card ontology in the CI and it picked up a validation issue right off the bat, see https://github.com/DataONEorg/sem-prov-ontologies/runs/3705613253?check_suite_focus=true. Just a wrong datatype. I'll fix this shortly.

[2021-09-25 00:24] amoeba commented on #110
Fixed in 6dfe54ccd5420cd3e50ec3aa31317bec3aa6f024.

[2021-09-25 00:24] #110 closed

[2021-09-25 01:40] amoeba opened #112 "Fix sameAs issues in ARCRC"
While looking at something unrelated I noticed two`owl:sameAs` triples pointed at RDF literals instead of URIs. See the below turtle-formatted triples and the `owl:sameAs` triples.

[code]

[2021-09-25 02:04] mbjones commented on #112
Yeah, seems like they should be URIs.

Another question is why `owl:sameAs` was used rather than `owl:equivalentClass`. I have always thought sameAs was used for resources/instances. However, I also read that when sameAs refers to classes or properties, it also means that an equivalentClass or equivalentProperty relation exists, respectively. This is from: http://www.ksl.stanford.edu/software/jtp/

[2021-09-25 02:10] amoeba commented on #112
The sameAs<->equivalentClass thing is really good to know.

I think we should test it with the tools we use, specifically Jena where we use RDFS and OWL-Full reasoning (it can be tweaked).

[2021-09-28 20:30] mbjones opened #113 "create data sensitivity ontology"
Through our repositories, we have a need to consistently represent data sensitivity classifications for data, and using annotations against a data sensitivity ontology has been proposed. In this task, create an initial ontology that captures the data sensitivity categories for repositories and relates them to existing sensitivity taxonomies, including [DataTags](https://datatags.org), the [Data Us

[2021-09-29 06:32] mbjones commented on #113
Started this with an initial file in a branch `feature-113-create-senso` in SHA 4ae8a14

This small ontology creates the three classes we agreed on for Arctic Data Center for `Non-sensitive data`, `De-identified data`, and `Sensitive data`, with definitions. It also creates classes for the `DataTags` categories (https://datatags.org), and links those where they directly correspond. I also imported

[2021-09-30 01:51] mbjones commented on #113
Issues to be resolved:

- [ ] add (or find) a property for attaching sensitivity classes to datasets in annotations
- [ ] Decide if Data Sensitivity Category (`odo:SENSO_00000001`) should be a subclass of  "data use modifier" (`obo:DUO_0000017`)
- [ ] decide on and create alignments between the ADC sensitivity classes and the DataTags classes
    - @mpsaloha suggests trying `skos-dl:exactMatch` an

[2021-09-30 03:01] mbjones commented on #113
Added modifications to try using `owl:equivalentClass` for alignment, and it produced the expected inferred graph. Seems like a good way to proceed. Bryce is testing how this will work with the indexer and search.

[2021-10-01 00:52] amoeba commented on #113
We had a great discussion on our salmantics call about the above points. For modeling and alignment issues, we decided to skip them for now and be open to revisiting them later. The first version of SENSO will just have three sub-classes and won't include terms for the DataTags or alignments between them. Not making the assertions now doesn't preclude us from making them in the future but making a

[2021-10-01 20:29] amoeba commented on #113
I made the edits we talked about (see commit message in b694039a91ab554e2c1b6f82cbea95042c1d7441). One thing we hadn't caught that I changed was that the terms were using URIs like http://purl.obolibrary.org/odo/SENSO_ instead of http://purl.dataone.org/odo/SENSO_. I opted to change them all to http://purl.dataone.org/odo/SENSO_ since that matches the ontology IRI.

@mbjones @mpsaloha please take

[2021-10-02 00:58] mbjones commented on #113
Looks good, @amoeba. I pushed another set of edits that fixed the `odo` prefix definition, and reformatted subjects to use short form in the TTL file. I checked off the boxes above on which I think we have made decisions. A few items remaining, but I think they should probably be opened as new tickets. So, what do we need to add to add SENSO into the website listing too?

[2021-10-02 01:34] amoeba commented on #113
Thanks @mbjones. New tickets sounds good, I can file those in a sec.

I'll add a commit on top of this branch here that'll enable it on the GitHub pages site when we merge to _main_. Once merged, I think we should get this off to BioPortal so landing page popovers can pull in definitions.

[2021-10-02 01:35] amoeba opened #114 "Decide if Data Sensitivity Category (odo:SENSO_00000001) should be a subclass of "data use modifier" (obo:DUO_0000017)"

[2021-10-02 01:35] amoeba opened #115 "decide on and create alignments between the ADC sensitivity classes and the DataTags classes"
@mpsaloha suggests trying skos-dl:exactMatch and skos-dl:closeMatch

[2021-10-02 01:41] amoeba commented on #113
Okay, that's all done. IMO this is ready for a merge to develop and a PR onto main after that. If you just want to give me a thumbs up I'll get those going.

[2021-10-04 21:31] amoeba opened #116 "Add documentation for how the GH Pages site and GHA build works"

[2021-10-11 21:27] amoeba commented on #116
Closed by https://github.com/DataONEorg/sem-prov-ontologies/commit/7314567b966306af6c849157e3e5b2a4f6b782d5.

[2021-10-11 21:27] #116 closed

[2021-10-11 21:32] amoeba commented on #113
Hey @mbjones, I'm ready to move this forward into production but I did want a final 👍 from you before I did that. Let me know.

[2021-10-13 23:48] jeanetteclark commented on #113
@mbjones @amoeba sorry - missed the review here. I just had a look and looks good to me

[2021-10-13 23:57] amoeba commented on #113
Great, thanks @mbjones, @jeanetteclark.

[2021-10-14 00:15] amoeba commented on #113
- SENSO is merged to `main`: https://github.com/DataONEorg/sem-prov-ontologies/pull/111
- Tagged + released: https://github.com/DataONEorg/sem-prov-ontologies/releases/tag/arcrc-0.10-senso-0.1.0
- On its way to BioPortal: https://bioportal.bioontology.org/ontologies/SENSO

Next/last steps are to include it in our DataONE and Metacat index components. Marching off to file those tickets now.

[2021-10-14 00:19] amoeba opened #117 "Investigage website build issue"
Upon merging the latest stuff on develop onto main, I'm seeing an odd build issue: https://github.com/DataONEorg/sem-prov-ontologies/runs/3889063287?check_suite_focus=true.

[2021-10-14 00:40] amoeba commented on #117
Looks like it's something to do with which version of rdflib (the RDF library PyLODE depends on) between 5.x and 6.x. I can reproduce what I see on GHA breaks with an rdflib 6.x release. Still tracking this down.

[2021-10-14 01:24] amoeba commented on #117
I considered locking our dep on rdflib to 5.x but I lucked out and upgrading pylode to be compatible with the rdflib 6.x series wasn't too complicated. See https://github.com/amoeba/pyLODE/commit/85242ec186e34012f9a3ad3be8fc1cf3f7bf40c4.

Website build is now back to working.

[2021-10-14 01:24] #117 closed, assigned to amoeba

[2021-11-09 21:15] laurenwalker commented on #113
Hey @amoeba - I am getting a 404 for the purl.dataone.org links above. Are they not production ready yet?

[2021-11-09 21:21] amoeba commented on #113
Not quite. I can pick up the remaining work on that, it was just at the bottom of my todo list.

[2021-11-09 21:49] amoeba commented on #113
Okay @laurenwalker, SENSO redirects are in place so those URIs should also resolve now.

[2021-11-12 15:08] laurenwalker commented on #113
Great, thanks Bryce!

[2021-11-19 02:29] amoeba opened #118 "Find out which version of ontology was used in annotation and tag"
We annotated production content with some of the terms of the yet-unreleased salmon ontology and noticed some issues we'd like to address in a future release. Let's set a tag on the version we annotated from just to keep a reference.

I'm not sure which version this is, though I think it's probably just the tip of the feature branch for the ontology.

[2021-11-19 02:32] amoeba opened #119 "Clean up URIs used in salmon ontology"
We noticed some of the terms in the salmon ontology don't consistently pad their OBO-style URIs to 8 digits (e.g., 001234 when they should be 00001234). Mark is going to do this cleanup but I'll manage this issue with progress.

[2021-11-19 02:36] amoeba opened #120 "Put redirects in place for all salmon URIs we used but are changing"
We're going to make some tweaks to the term URIs in the salmon ontology but we don't want to break any of the URIs we've already used. We decided to throw in redirects for any deprecated terms in order to avoid the mess in the ontology we'd see if we kept the terms in and deprecated them.

All the URIs are managed under the purl.dataone.org namespace so I'll apply a config change there. I'll proba

[2021-11-19 02:38] amoeba opened #121 "Look into file:/// annotations in DataONE"
While browsing around the Solr we index I stumbled onto values like

[code]

See https://cn.dataone.org/cn/v2/query/solr/?q=sem_annotation:*SASAP*&fl=sem_annotation&rows=0&facet=true&facet.field=sem_annotation. These should be fixed both in the metadata and in whatever ontology or ontologies they're coming from.

[2021-11-19 02:39] amoeba commented on #49
We're close on this and @mpsaloha is going to wrap up a few more changes before a first release. Beyond @mpsaloha 's work, we identified a few other things I'll work on:

- https://github.com/DataONEorg/sem-prov-ontologies/issues/118
- https://github.com/DataONEorg/sem-prov-ontologies/issues/119
- https://github.com/DataONEorg/sem-prov-ontologies/issues/120

[2021-11-19 03:02] amoeba commented on #118
I grabbed all the URIs we've used in annotations and cross-referenced them with what we have on the tip of the feature-49-salmon-ontology branch and couldn't find 22 of the 77 total URIs in that ontology. I looked at the first of those, http://purl.dataone.org/odo/salmon_000127, and found a likely match with a slightly different URI, http://purl.dataone.org/odo/salmon_00127. The next two I checked

[2021-11-19 03:03] amoeba commented on #120
Here's a full list of the URIs we've annotated with to date:

[code]

[2021-11-19 03:05] amoeba commented on #121
None of the above URIs were present in any of our ontologies so I'm guessing these came in from the Google Sheet we used to update the annotations in bulk (ie the cell value we pulled a URI from was equal to one of the above.

We should plan to update these metadata records at some point with an appropriate value.

[2021-11-19 03:06] amoeba commented on #119
A list of all the URIs we've already used is over at https://github.com/DataONEorg/sem-prov-ontologies/issues/120#issuecomment-973684643.

[2021-11-20 00:48] amoeba commented on #118
I searched git history didn't find any hits for the incorrect URIs but I _did_ find matches in the Google Sheet we used to do the bulk annotation updates. In fact I found them all so I'm convinced that's where the issue came in.

I do want us to have a tag of the version we were theoretically working from so I'm going to tag the tip of the branch just so we have a reference.

[2021-11-20 00:53] amoeba commented on #118
Tagged https://github.com/DataONEorg/sem-prov-ontologies/releases/tag/salmon-0.2-first-annotation-batch.

[2021-11-20 00:53] #118 closed

[2022-01-27 02:08] amoeba opened #122 "Tasks for first version of salmon ontology"
@mpsaloha is close to a first version and we discussed what would be left to do for a first release. We came up with:

- Publish in Turtle not RDF/XML
- Publish as properly prefixed so its concise
- Put in mappings in the ontology from all classes and instances we’ve used to sameAs/equivalentClass all http->https
- Tag as a sub 1.0.0 version

Note this relates to https://github.com/DataONEorg/sem-

[2022-02-04 01:53] amoeba opened #123 "Look into Widoco as an alternative to PyLODE for static ontology docs"
Example: https://i-adopt.github.io/index.html
Repo: https://github.com/dgarijo/Widoco

[2022-04-08 00:11] amoeba commented on #49
@mpsaloha handed off his latest copy to me and I committed it in https://github.com/DataONEorg/sem-prov-ontologies/commit/7bd54f6d59a0b7953c7da801c17dbe01bc86e1b6. I'm going to work through the issues in the abov ecomment and https://github.com/DataONEorg/sem-prov-ontologies/issues/122.

[2022-04-20 00:12] amoeba commented on #120
Of the above IRIs, all but four could be easily matched with the corresponding 8-wide variant (salmon_000127 -> salmon_00000127). My process was to compare the labels in all annotations we've issued with the label in the ontology. I'm not done and will figure out what we need to do with the rest of these tomorrow:

- `http://purl.dataone.org/odo/salmon_000647` labeled "Fish stock name"
    http://

[2022-05-05 04:23] amoeba commented on #120
- **http://purl.dataone.org/odo/salmon_000713**: Every time we annotated with `http://purl.dataone.org/odo/salmon_000713`, the `valueLabel` was "Age class 2.2 recruits" when the attribute was named "R2.5" with a definition of "number of age 2.5 recruits". So this was clearly a mixup somewhere in the source spreadsheets. The annotations should be to http://purl.dataone.org/odo/salmon_00000713 (Age

[2022-05-05 20:26] amoeba commented on #120
@mpsaloha emailed this:

I wasn't quite clear on the resolution you suggested for the "coastal rainbow trout" issue.  GUID for rainbow trout in the "latest" is 00000647, not 00000674 as I think you are suggesting above.  However your proposed solution sounds correct.

You also stated:

These may have been added by Sam in that brief period where Sam and I were out-of-sync. I did try to "sync" up wi

[2022-05-06 02:19] amoeba commented on #120
Thanks @mpsaloha, my mistake there. Let me try that again...

We annotated with `SALMON:000647` in 5 EML docs, and each time the `valueLabel` was "Fish stock name" and the EML attribute associated with the annotation was about "Fish Stock" or similar. If I pad that IRI to `SALMON:00000647`, that's the individual for rainbow trout. We have term in the ontology, "Fish stock name" `SALMON:00000674` s

[2022-06-11 02:21] amoeba commented on #120
Okay, so for all of the 77 terms we've already annotated with, I've got a matching term in the ontology. I started in on tweaking the ontology to put in those mappings, ran into some trouble, and could use some advice.

I first tried putting in an `owl:equivalentClass` to do the mapping and Protégé gives me this:

<img width="327" alt="Screen Shot 2022-06-10 at 5 25 06 PM" src="https://user-images

[2022-07-15 23:29] amoeba commented on #120
We talked about this in this week's Salmantics call and came up with a solution which I'll outline below. I need to follow up with @mpsaloha to make sure we're all in agreement.

1. Use an alignment ontology to align all of our deprecated terms to active terms in the ontology
  a. Add all deprecated terms to the alignment ontology, asserting owl:equivalentClass and owl:sameAs as appropriate, point

[2022-07-16 00:33] amoeba commented on #120
I made good progress on a script to generate the alignment from the deprecated terms list in https://github.com/DataONEorg/sem-prov-ontologies/commit/3dd08fc5ca96dac7e8d8c52abe80fba492f238d9. I'll pick this up next week.

[2022-07-23 00:05] amoeba commented on #120
I PR'd a merge to develop of the salmon ontologies in https://github.com/DataONEorg/sem-prov-ontologies/pull/124 and they're ready for another set of eyes. 2-4 above are yet undone but I'm working on them next.

[2022-10-11 08:54] mpsaloha commented on #120
Hi Bryce,

   -

   http://purl.dataone.org/odo/salmon_000647 labeled "Fish stock name"
   http://purl.dataone.org/odo/salmon_00000674 is the individual for
   Rainbow trout, so I think the number might have been transposed in the
   Google Sheet.
   Resolution: sameas salmon_000647 to salmon_00000674, leave
   salmon_00000647 untouched

I wasn't quite clear on the resolution you suggested for the